header
{
    background-color: rgba(0, 128, 0, 0.67);
    text-align: center;
    border-radius: 10px 70px;
    padding: 5px 5px;
    margin-top: 16px;
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
}

body
{
  background-image: url(Imagenes/windows-xp-bliss-4k-lu-1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav
{
    background-color: #333; 
    padding: 10px; 
    margin: 43px 11px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
  .nav li
{
    margin-left: 20px;
    margin-right: 20px;
}
  
.nav a
{
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}
  
.nav a:hover
{
    color: #ccc;
}

.pregunta
{
    padding-top: 20px; 
    margin-left: 50%;
    padding: 0px 5px;
    margin-bottom: 17%;
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.parrafo
{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.izquierda
{
  margin-right: 50%;
  padding: 0px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: -20%;
}

#arbol
{
  width: 200px;
  height: 250px;
  position: relative;
  bottom: 600px;
  left: 30px;
}

#megafono
{
  width: 378px;
  height: 250px;
  position: relative;
  bottom: 600px;
  left: 100px;
}

#playera
{
  width: 280px;
  height: 378px;
  position: relative;
  bottom: 220px;
  left: 380px;
}