body
{
    background-color: #38bd38;
}

h1
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p
{
    margin-top: 80px;
    margin-right: 50%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

#camion1
{
    position: relative;
    top: -235px;
    left: 53%;
    width: 250px;
    height: 400px;
}

#camion2
{
    position: relative;
    top: -295px;
    left: 57%;
    width: 400px;
    height: 200px;
}

#carro
{
    position: relative;
    top: -50px;
    left: 10%;
    width: 250px;
    height: 250px;
}

#carro2
{
    position: relative;
    top: -50px;
    left: 20%;
    width: 250px;
    height: 250px;
}

nav
{
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 10px; /* Espacio entre la barra de navegación y el contenido */
    display: flex; /* Establece la barra de navegación como un contenedor flexible */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    text-align: center; /* Centra el texto */
    margin: 43px 11px;
}
  
nav ul
{
    list-style: none; /* Quita los puntos de la lista desordenada */
    margin: 0; /* Quita el margen de la lista desordenada */
    padding: 0; /* Quita el padding de la lista desordenada */
    display: flex; /* Establece la lista desordenada como un contenedor flexible */
}
  
nav li
{
    margin-left: 20px;
    margin-right: 20px;
}
  
nav a
{
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita la decoración de los enlaces */
    transition: color 0.2s ease; /* Agrega un efecto de transición al texto de los enlaces */
}
  
nav a:hover
{
  color: #ccc; /* Color del texto de los enlaces al pasar el mouse por encima */
}